body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
	margin: 1em 10%;
	padding: 0;
	color: #2d334a;
	background-color: #fffffe;
}

@media (max-width: 600px) {
	body {
		margin: 1em;
	}
}

a {
	color: #272343;
	text-decoration: none;
}

.site-header {
	align-items: flex-end;
	display: flex;
	flex-direction: column;
	font-family: 'Source Code Pro', Monaco, monospace;
	font-size: 2em;
	font-style: italic;
	margin: 1em;
}

.post-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.post-list > li {
	border: 2px dotted #272343;
	border-radius: 0.5em;
	margin: 1em;
	padding: 1em;
}

.post-list > li > h2 {
	margin-bottom: 0;
}

.post-list > li > h2 > a {
	border-bottom: none !important;
}

.post-meta {
	font-size: 0.9em;
	font-style: italic;
	margin-top: -1em;
	margin-bottom: 3em;
}

#content {
	line-height: 1.4em;
}

#content > h2,
#content > h3,
#content > h4 {
	margin-top: 2em;
}

p a {
	border-bottom: 1px dotted #00659d;
}

li > a {
	border-bottom: 1px dotted #00659d;
}

.youtube-embed {
	height: 300px;
	max-width: 100%;
	width: 534px;
}

.site-footer {
	border-top: 1px dotted #cecece;
	display: flex;
	flex-direction: row;
	margin-top: 3em;
}

.site-footer > div {
	margin: 1em;
}

.site-footer > div > div {
	margin-bottom: 1em;
}

.site-footer > .links {
	flex-basis: 30%;
}

.site-footer > .text {
	flex-basis: 70%;
}

.icon > svg {
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle;
}

img {
	max-width: 100%;
}

.uncached {
	opacity: 50%;
}

script.visible {
	border-radius: 0.5em;
	border: 2px dotted #272343;
	display: block;
	font-family: 'Source Code Pro', Monaco, monospace;
	font-family: monospace;
	margin: 1em;
	overflow-x: auto;
	padding: 1em;
	white-space: pre;
}

code {
	font-family: 'Source Code Pro', Monaco, monospace;
	tab-size: 2;
}

pre {
	border: 2px dotted #272343;
	border-radius: 0.5em;
	font-size: 0.8em;
	overflow-x: auto;
	padding: 1em;
}

.hljs-comment,
.hljs-quote,
.hljs-variable {
	color: green;
}
.hljs-built_in,
.hljs-keyword,
.hljs-name,
.hljs-selector-tag,
.hljs-tag {
	color: #00f;
}
.hljs-addition,
.hljs-attribute,
.hljs-literal,
.hljs-section,
.hljs-string,
.hljs-template-tag,
.hljs-template-variable,
.hljs-title,
.hljs-type {
	color: #a31515;
}
.hljs-deletion,
.hljs-meta,
.hljs-selector-attr,
.hljs-selector-pseudo {
	color: #2b91af;
}
.hljs-doctag {
	color: grey;
}
.hljs-attr {
	color: red;
}
.hljs-bullet,
.hljs-link,
.hljs-symbol {
	color: #00b0e8;
}
.hljs-emphasis {
	font-style: italic;
}
.hljs-strong {
	font-weight: 700;
}
