---
layout: default.njk
---
<div class="home">
  <ul class="post-list">
    {% for post in collections.post | reverse %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url }}">{{ post.data.title }}</a>
        </h2>
        <span class="post-meta">{{ post.date.toLocaleDateString() }}</span>
        {% if post.data.excerpt %}
          <p>{{ post.data.excerpt }}</p>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>
