---
layout: default.njk
---

<div class="home">
  <ul class="post-list">
    {% for post in collections.post | reverse %}
      <li>
        <span class="post-meta">{{ post.date }}</span>
        <h2>
          <a class="post-link" href="{{ post.url }}">{{ post.data.title }}</a>
        </h2>
        {{ post.data.excerpt if post.data.excerpt }}
      </li>
    {% endfor %}
  </ul>
</div>
