---
pagination:
  data: collections.post
  size: 1
  alias: post
permalink: /_posts/{{ post.fileSlug }}.json
---
{
  "excerpt": {{ post.data.excerpt | dump | safe }},
  "html": {{ post.templateContent | dump | safe }},
  "layout": "{{ post.data.layout }}",
  "tags": {{ post.data.tags | dump | safe }},
  "title": {{ post.data.title | dump | safe}},
  "page": {
    "date": "{{ post.date.toDateString() }}"
  }
}
