<!doctype html>
<html lang="en" itemscope itemtype="http://schema.org/Blog">
  {% include 'head.njk' %}
  <body>
    {% include 'header.njk' %}
    <div class="page-content">
      <div class="wrapper">
        {% if title %}
          <h1 class="post-header"><a href="">{{ title }}</a></h1>
          {% if page.date %}
            <p class="post-meta">{{ page.date }}</p>
          {% endif %}
        {% endif %}
        <div id="content">
          {{ content | safe }}
        </div>
      </div>
    </div>
    {% include 'footer.njk' %}
    {% include 'register_service_worker.njk' %}
  </body>
</html>
