<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="manifest" href="/assets/manifest.json">
  <link rel="icon" sizes="192x192" href="{{ site.logo }}">

  <meta property="og:url" content="{{ page.url }}">
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="/feed.xml">

  <title>{{ page.title if page.title else site.title}}</title>

  <meta name="theme-color" content="#00bcd4">
  {% include 'styles.njk' %}
</head>
