<!doctype html>
<html lang="en" itemscope itemtype="http://schema.org/Blog">
  {% include 'head.njk' %}
  <body>
    {% include 'header.njk' %}
    <div class="page-content">
      <div class="wrapper">
        {{ content| safe }}
      </div>
    </div>
    {% include 'footer.njk' %}
    {% include 'service_worker.njk' %}
  </body>
</html>
