<!doctype html>
<html lang="en" itemscope itemtype="http://schema.org/Blog">
  {% include head.liquid %}
  <body>
    {% include header.liquid %}
    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>
    {% include footer.liquid %}
    {% include service_worker.liquid %}
  </body>
</html>
