<script type="module">
import {Workbox} from 'https://storage.googleapis.com/workbox-cdn/releases/4.1.1/workbox-window.prod.mjs';

if ('serviceWorker' in navigator) {
  const wb = new Workbox('/service-worker.js');

  wb.addEventListener('controlling', () => {
    window.location.reload();
  });

  wb.register();
}
</script>
